<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNovoItem()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Mercado: {{mercado.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--<ion-list>
    <ion-item *ngFor="let i of itens">
      {{i?.nome}}
      <ion-note item-right>
        Qtd: {{i?.quantidade}} R${{i?.valor}}
      </ion-note>
    </ion-item>
  </ion-list>-->

  <ion-list>
    <ion-item *ngFor="let i of itens" (click)="onOpcoes(i)">      
      <h2>{{i?.nome}}</h2>
      <h3>Quantidade: {{i?.quantidade}}</h3>
      <p item-right>Valor: R$ {{i?.valor}}</p>
    </ion-item>
  </ion-list>
  <button ion-button block>Realizar Compra</button>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    Itens: ({{totalItens}}) Total: R$ {{totalValor}}
  </ion-toolbar>
</ion-footer>